.place__title {
  align-self: flex-end;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 830px) {
  .place__title {
    font-size: 56px;
  }
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 auto;
    min-width: 288px;
  }
}
