.photo-grid {
  max-width: 92.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 16px;
  background-color: #2a2c2f;
  color: #fff;
  margin: 0 auto;
  padding: 92px 0;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 88px 0;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 64px 0;
  }
}
