.lead__title {
  max-width: 720px;
  line-height: 1.04;
  font-size: 96px;
  font-weight: 900;
  margin: 56px auto 0;
}

@media (max-width: 768px) {
  .lead__title {
    max-width: 93.75%;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 90%;
    line-height: 1.1;
    font-size: 40px;
  }
}
