.cover__title {
  max-width: 560px;
  text-align: center;
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin-bottom: 32px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 400px) {
  .cover__title {
    font-size: 50px;
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
