.footer {
  max-width: 92.5%;
  background-color: #2a2c2f;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 92px 0 24px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 90.625%;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 93.75%;
  }
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 320px) {
  .footer {
    min-width: 186px;
    margin: 0;
    padding-left: 16px;
  }
}
